/* 頁面基本樣式 */
body {
    background-color: #0a0a12;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: contents;
    width: 90%;
    max-width: 1200px;
}

/* 左側內容 */
.left-panel {
    width: 30%;
    text-align: center;
}

.clock {
    font-size: 6rem;
    font-weight: bold;
    color: #ffca99;
    text-align: inherit ;
    padding-top: 10px;
}

.date {
    font-size: 2.5rem;
    font-weight: bold;
    color: lightgreen;
    text-align: center;
    padding-top: 10px;
}

/* 分隔線 */
.divider {
    width: 3px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 10 30px;
}

/* 右側內容 */
.main-content {
    width: 70%;
    padding: 20px;
    text-align: center;
}

#countdown-timer {
    font-size: 3.5rem;
    font-weight: bold;
    color: #ff6f6f;
    margin-top: 20px;
}

/* 活動區域 */
.events-container {
    margin-top: 30px;
    font-size: 1rem;
    color: #ffffff;
}

#event-item {
    font-size: 3.5rem;
    color: #ff6f6f;
    font-weight: bold;
}

/* 頁底 跑馬燈 */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 239, 147);
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 跑馬燈區域 */
.footer marquee {
    width: 100%;
    font-size: 4.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}